body {
    margin: 0;
    text-align:center;
    
    background-color: black;
}

.control {
    display: flex;
    margin: 75px auto 20px auto;
    width:575px;
    justify-content: space-between;
}

.buttonNew {
    background-color: rgba(5, 150, 105, 1);
    padding: 8px 12px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    color: white;
    font-style: italic;
    font-size: 14px;
    margin-right: 20px;
}

#timer {
    color: white;
    font-weight: 400;
    font-style: Bold;
    font-size: 30px;
    margin-left: 20px;
}

.container {
    display: flex;
    width:575px;
    margin: auto auto;
    justify-content: space-around;
    background-color: rgba(12, 74, 110, 1);
}

.player {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    color: white;
    margin-bottom: 21px;
    margin-top: 68px;
    font-family: Verdana, sans-serif;
}

.score {
    width: 155px;
    height: 120px;
    background-color: rgba(8, 0, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 26px;
    margin-bottom: 68px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
}

.number {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 90px;
    color: rgba(249, 79, 109, 1);
    
    /* background-color: white; */
}

.button-1 {
    width: 45px;
    height: 45px;
    background-image: url("images/one.png");
}

.button-2 {
    width: 45px;
    height: 45px;
    background-image: url("images/two.png");
}

.button-3 {
    width: 45px;
    height: 45px;
    background-image: url("images/three.png");
}